nav {
  width: 50vw;
  margin-left: auto;
}
ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
li {
  position: relative;
  padding: 0 20px;
  height: 50%;
  display: flex;
  
}
a {
  z-index: 1;
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 5px;
  border-right:2px solid black;
  padding-right: 50px;
  /* box-shadow: 10px 10px 10px  skyblue; */
  /* box-shadow: -10px 10px 10px  skyblue; */
}
li::before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #0D7CFF;
  right: 0;
  z-index: 0;
  top: 3.33%;
  transition: all 0.5s;
}
li::after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  background-color: #0D7CFF;
  left: 0;
  z-index: 0;
  bottom: 0;
  transition: all 0.5s;
}
a::before {
  position: absolute;
  content: "";
  height: 33.33%;
  width: 0;
  background-color: #0D7CFF;
  bottom: 66.66%;
  left: 0;
  transition: all 0.5s;
}
/* li:hover:before,
li:hover::after,
li:hover a::before{
   width: 50%;
} */
/*................................................................... */
.container {
  padding: 50px 30px;
  text-align: center;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  /* background-color: rgb(238, 252, 255); */
  min-height: 85vh;
  /* background: url(../../public/bg1.jpg); */
}

.container1 {
  width: 100%;
  height: 100vh;
/* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  flex-wrap: wrap;

}

.container1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../public/bg1.jpg);
  z-index: -1;
  opacity: 0.8;
  flex-wrap: wrap;
}


/* CSS */
.button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0.2rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
 padding-right: 20px;
 margin-right: 9px;
}

.button:focus {
  outline: 0;
}

.btn {
  padding: 1rem;
  margin-left: auto;


}

.button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;

  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}




.navbar {
  /* color: black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* position: fixed; */
  /* background-color: skyblue; */
  /* z-index: -1; */

}






/* .nav-content{
color:red;
}
.navbar{
display: flex;

} */
.heading {
  margin: 0 auto;
  max-width: 500px;
  color: #000;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

img[alt="logo"] {
  padding: 1rem;
  height: 5rem;
  width: 8rem;
  border-radius: 10rem;
}

.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #239ce2, #1369b9);
  color: transparent;
  
}
.heading{
  color: white;
}

.right {
  padding-top: 5rem;
  width: 500px;

}.try{
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0.2rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
 padding-right: 20px;
 margin-top: 70px;
 margin-right: 9px;


}
.left{
/* content: "jj"; */
/* position: absolute; */
height: 30rem;
padding-right: auto;
border: 2px solid #5698f3;
/* background-color: #82AAE3; */
border-radius: 9rem;
padding: 2rem;

}

.gallery {
  --s: 280px; 

  display: grid;
  width: 400px;
  height: 600px;
  aspect-ratio: 1;
  overflow: hidden;
  /* padding: calc(var(--s)/20); */
  z-index: -1;
  border-radius: 10%;
  position: relative;
  clip-path: circle(70.5%);
}

.gallery::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: inherit;
  /* border-radius: inherit; */
  background: repeating-conic-gradient(#789048 0 30deg, #DFBA69 0 60deg);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.gallery>img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit:fill;
  border-radius: inherit;
  transform-origin: 50% 130.7%;
 
  
}

.gallery::after,
.gallery>img {
  animation: m 8s infinite cubic-bezier(.5, -0.2, .5, 1.2);
  z-index:-1;
}


.gallery>img:nth-child(2) {
  animation-delay: -2s;
  
  
}

.gallery>img:nth-child(3) {
  animation-delay: -4s;
  
}

.gallery>img:nth-child(4) {
  animation-delay: -6s;
 
}

@keyframes m {

  0%,
  3% {
    transform: rotate(0)
  }

  22%,
  27% {
    transform: rotate(-90deg)
  }

  47%,
  52% {
    transform: rotate(-180deg)
  }

  72%,
  77% {
    transform: rotate(-270deg)
  }

  98%,
  100% {
    transform: rotate(-360deg)
  }
}


/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #C2CBCE;
} */